body {
    font-family: Verdana, Hiragino Sans, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #333;
    line-height: 1.65;
    padding: 15px;
    max-width: 680px;
    margin: auto;
}
h1 {
    font-size: 27px;
    /* font-weight: 400; */
}
a {
    color: #2b6cc2;
}

.posts ul {
    list-style: none;
    font-size: 15px;
    padding: 0;
}
.posts li {
    margin-bottom: 20px;
}

.post h1 {
    font-size: 23px;
    margin-top: 30px;
}
.post p {
    margin-bottom: 20px;
    font-size: 15.5px;
}
.post ul {
    line-height: 2;
}
.post img {
    max-width: 80%;
    display: block;
    margin: auto;
}
.post hr {
    background: #e6e6e6;
    border: none;
    height: 1px;
    margin: 20px 0;
}
.post code {
    background-color: #ced4da70;
    border-radius: 3px;
    font-size: 90%;
}
/* footer {
    color: #666;
    font-size: 13px;
    margin-top: 40px;
} */